<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coms.jd.dao.sys.MenuRoleRelationDao">
    <select id="selectRoleByUrl" resultType="String">
        SELECT
        mrr.role_id AS roleId
        FROM
        menu_role_relation mrr
        LEFT JOIN
        rbac_menu rm
        ON
        mrr.menu_id = rm.menu_id
        WHERE
        rm.menu_url = #{menuUrl}
    </select>
    <select id="getMenusByRole" resultType="com.coms.jd.beans.entity.sys.MenusRelstion">
        SELECT
            rm.menu_id AS menuId,
            rm.menu_pid AS menuPid,
            rm.menu_type AS menuType
        FROM
            menu_role_relation AS rr
            LEFT JOIN rbac_menu AS rm
            ON rr.menu_id = rm.menu_id
        WHERE
            rr.role_id = 'p0001'
        AND
            rm.menu_status = '1'
        AND
            rr.menu_role_status = '1'
        ORDER BY
            rr.menu_id ASC
    </select>
</mapper>