<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coms.jd.dao.sys.MenuRoleRelationDao">
    <select id="selectRoleByUrl" resultType="String">
        SELECT
        mrr.role_id AS roleId
        FROM
        menu_role_relation mrr
        LEFT JOIN
        rbac_menu rm
        ON
        mrr.menu_id = rm.menu_id
        WHERE
        rm.menu_url = #{menuUrl}
    </select>
</mapper>