<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coms.jd.dao.sys.SysUserRoleDao">
    <select id="selectUserRole" resultType="String">
        SELECT
        role_id AS role
        FROM
        sys_user_role
        WHERE
        user_account = #{userAccount}
    </select>
</mapper>